/**
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */


// TODO move all non mediawiki to dark.scss

@media (prefers-color-scheme: dark) {
    .statstable > * > tr > td,
    .tux-message-editor .editcolumn,
    .grid .tux-message-editor .infocolumn-block,
    body, .mw-pt-languages, .ext-translate-container .tux-messagelist .tux-message-pagemode .tux-message-item-compact, .uls-language-block > ul > li:hover, .ext-translate-container .tux-messagelist .tux-message-pagemode {
        background-color: #232629 !important;
        color: #eff0f1;
    }

    .navbar .navbar-brand-text,
    #kFooterIncome, #kFooterIncome h3,
    #kDonateForm h3 a::before,
    #kDonateForm h3 a::after,
    .grid .tux-message-editor .messagekey,
    .navbar .navbar-collapse a, pre, .tux-messagelist .tux-message-pagemode .tux-pagemode-source, .tux-messagelist .tux-message-pagemode .tux-pagemode-translation, .tux-editor-header, .tux-statsbar-info, .ext-translate-language-selector-label, .contributionscores-title {
        color: #eff0f1 !important;
    }
    .diff-context,
    #pagehistory li.selected,
    .tux-message-item,
    .mw-translate-fuzzy,
    .tm-suggestion, .in-other-language,
    .statstable > * > tr > th,
    .mw-highlight,
    .lqt-post-wrapper .lqt_post_new_message,
    .mw-pt-languages-label, .card, footer, .lqt-post-wrapper, .ext-translate-container .tux-messagelist .tux-message-pagemode .tux-message-item-compact:hover, .uls-menu, .uls-search, .uls-lcd, .uls-languagefilter, .tux-action-bar, .contributionscores .header, table.wikitable > tr > th, table.wikitable > * > tr > th, .form-control, .form-control::placeholder {
        color: #eff0f1 !important;
        background-color: #31363b !important;
        background: #31363b !important;
    }
    a {
        color: #5daee9;
    }
    a:hover {
        color: #7daee9;
    }
    .tux-warning { color: black; }
    .tux-editor-request-right,
    .statstable > * > tr > td:nth-child(6)[data-sort-value="0.00000"],
    h1, h2, h3, h4, h5, h6, #kLegal, .lqt-thread-toolbar-timestamp, .lqt-thread-actions-icon, .page-info, .tux-breadcrumb, .tux-message-selector li a{
        color: #bdc3c7 !important;
    }
    .form-control {
        border: 1px solid #31363b;
    }

    .diff-addedline .diffchange,
    .diff-deletedline .diffchange {
        color: black;
    }

    pre.pre-input {
        background-color: #bdc3c7;
        color: black !important;
    }

    .alert-warning {
        border-color: #f67400;
        color: #eff0f1;
        background-color: rgba(246,116,0,0.2);
    }

    .alert-error {
        border-color: rgb(218,68,83);
        color: #eff0f1;
        background-color: rgba(218,68,83,0.2);
    }

    .alert-success, #kFooterIncome {
        background-color: #2f4e42;
        color: #eff0f1;
        border-color: #27ae60;
    }

    .alert-info {
        background-color: rgba(61,174,233, 0.2);
        color: #eff0f1;
        border-color: rgb(61,174,233);
    }

    .icon-dark-invert img,
    img.icon-dark-invert,
    .alert-success img,
    .mw-pt-languages-label::after {
        filter: invert(1);
    }

    .mono-icon img {
        background-color: white;
    }
    .mw-highlight .nv {
        color: #BAB9FF;
    }

    .mw-highlight .nb {
        color: #87fb87;
    }

    .mw-highlight .s {
        color: #F55;
    }

    .mw-highlight .c {
        color: #bcc6c6;
    }

    .tux-message-editor__caret::after {
        border-right: 20px solid #232629;
    }
    
    code {
        color: #f3bad4 !important;
        background-color: #31363b !important;
    }
}
